__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.csv
.DS_Store
*.log
.ipynb_checkpoints/
.idea/
.vscode/
*.model
*.h5

# Keep these specific model files, ignore others
*.pth
!best_DAG_Model.pth
*.pkl
!scaler.pkl
!label_encoder.pkl
